<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="client">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Cliente</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Cuentas QR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="other-account">
      <ion-icon name="square"></ion-icon>
      <ion-label>Inscripción Cuentas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="options">
      <ion-icon name="square"></ion-icon>
      <ion-label>Opciones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
